@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 187 38% 91%;
    --foreground: 224 71% 4%;
    --card: 187 38% 95%;
    --card-foreground: 224 71% 4%;
    --popover: 187 38% 95%;
    --popover-foreground: 224 71% 4%;
    --primary: 191 38% 44%;
    --primary-foreground: 187 38% 98%;
    --secondary: 187 30% 85%;
    --secondary-foreground: 191 38% 30%;
    --muted: 187 30% 85%;
    --muted-foreground: 215 20% 65%;
    --accent: 106 31% 67%;
    --accent-foreground: 106 31% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 187 20% 80%;
    --input: 187 20% 80%;
    --ring: 191 38% 44%;
    --chart-1: 191 38% 44%;
    --chart-2: 106 31% 67%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 187 38% 91%;
    --card: 224 71% 6%;
    --card-foreground: 187 38% 91%;
    --popover: 224 71% 6%;
    --popover-foreground: 187 38% 91%;
    --primary: 191 38% 54%;
    --primary-foreground: 187 38% 98%;
    --secondary: 191 38% 15%;
    --secondary-foreground: 187 38% 98%;
    --muted: 191 38% 15%;
    --muted-foreground: 187 20% 65%;
    --accent: 106 31% 57%;
    --accent-foreground: 106 31% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 191 38% 20%;
    --input: 191 38% 20%;
    --ring: 191 38% 54%;
    --chart-1: 191 38% 54%;
    --chart-2: 106 31% 57%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
